<!-- vscode-language=jinja2 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nft Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    
    <div class="container" id="cont">
        <div class="navbar">
           <a href="/"> <img src="static/img/logo.png" class="logo"> </a>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="home.html">REGION</a></li>


                <li><a href="/add_product">Add Product</a></li>

                <li><a href="/register">REGISTR</a></li>

                {% if current_user.is_authenticated  %}

                <div class="d-flex">
                    <a href="/logout" class="btn btn-success"> Logout </a>
                </div>
                {% else %}
                
                <li><a href="">LOGIN IN</a></li>
                {% endif %}

                
               
            
        </nav>
        </div>
    </div>
    </div>
</div>




<div class="row ">
    {% block content %}
    {% endblock %}
</div>





<br>
<br>
<br>
<br>
<br>
<br>


       
</body>
</html>