{% extends "base.html" %}

{% block content %}
<div class="container ">
    {% for field, errors in form.errors.items() %}
     {% for error in errors %}
     <div class="alert alert-danger">
        {{ error }}
     </div>
    
    
     {% endfor %}
     {% endfor %}
    <form methood="post">
        {{ form.hidden_tag() }}
        {{ form.username(class="form-control mt-2", placeholder=form.username.label.text) }}

        {{ form.password(class="form-control mt-2", placeholder=form.password.label.text) }}

        {{ form.repeat_password(class="form-control mt-2", placeholder=form.repeat_password.label.text) }}


        {{ form.birthday(class="form-control mt-2", placeholder=form.birthday.label.text) }}


        {{ form.submit(class="btn btn-success" )}}
    </form>
</div>



{% endblock %}